body{
    background-color: rgb(226, 211, 211);
}
.nav-buttons{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 32px;
    background-color:cornflowerblue;
}
.nav-buttons:hover{ 
    transform: rotate(350deg);
}
.title{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(40, 81, 195)
}
.content-latex{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: bold;
    color: blueviolet;
}
.letter{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: bold;
}
.parts{
    font-family: cursive;
    font-weight: bold;
    font-style: bold;
    font-size: large;
}
